body {
  background-image: url(socialRestBG.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #023e8a;
}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #a47e1b;
  }

  .active {
    background-color: #04AA6D;
  }
  
  li:last-child {
    border-right: none;
  }

  ul {
    position: fixed;
    top: 0;
    width: 90%;
    margin-left: 5%;
    margin-top: 0%;
  }

  .btnGroup {
    font-size: 20px;
  }

  .loginBtn {
    margin-right: 5%;
  }

  .friendsBtn {
    margin-left: 5%;
  }

  .mainHeader {
    margin-top: -47%;
    text-align: center;
    color: #c9a227;
    font-style: italic;
  }
  /* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}